.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 1000;
    background-color: white
}

#sbViewSelect{
	margin-top: 10px;
}

p{font-size: 12px;}

body{
	min-width: 1150px;
}
.gageInfo, .fcGageInfo{
	font-size: 10px;	
}

.navbar-brand{
	font-family: Nova Square;
}
#myNav{
	position: absolute;
	min-width: 1150px;
	width:100%;
	height:50px;
	background-color: white;
	z-index: 5000;
	box-shadow: 0px 5px 5px #000000;
}

#map{
	position:absolute!important;
	top:50px;
	bottom:0px; 
	width:100%;
	/*height:100%;*/
	min-width: 1150px;
}

.btnUpdatePlot{
	margin-top:25px;
}

#forecastInfo{
	position:absolute;
	bottom:0px;
	height:400px;
	width:100%;
	min-width: 1150px;
	background-color:white;
	opacity:0.9;
	visibility:hidden;
	float: bottom;
}

#fcGageInfo{
	font-size: 12px;	
	position:relative;
	vertical-align:top;
	width:25%;
	border:2px solid;
	display:inline-block;
	border-radius:5px;
	padding:20px;
	margin:10px;
}

#fcPlot{
	height:300px;
	width:850px;
	display:inline-block;
}

.fccontrols{
	margin-left: 10px;
}

#fcAnimatePanel{
	display:inline-block;
	width:200px;
	visibility:hidden;
}

#fc-tabs-1 > * {
    vertical-align:middle;  // Align children to middle of line
}

#fc-tabs-1{
	height:50%;
	min-width: 1150px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#simInfo{
	width:300px;
}

#signInPanel{
	min-width: 1000px;
	padding-bottom: 10px;
  	border-bottom: 2px dotted #000000;
}