.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 1000;
    background-color: white;
}

#helpBox{
	border-radius:5px;
	padding:5px;
	width:300px;
	position:absolute;
	background-color: #CCFFFF;
	padding: 5px;
    font-size: 8pt;
    top: 100px;
}

#closeHelpBox {
	border-radius: 2px;
	cursor: default;
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#66CCFF;
}

#closeHelpBox:hover {
    float:right;
    display:inline-block;
    padding:2px 5px;
    background:#f00;
    color:#fff;
}

p{
	font-size: 12px;
}

body{
	width: 100%;
	min-width: 1000px;
}

#btnsNavBar{
	margin-left:25px;
	margin-top:8px;
	display:inline-block;
}
.gageInfo, .fcGageInfo{
	font-size: 10px;	
}

.navbar-brand{
	font-family: Nova Square;
}

#myNav{
	position: absolute;
	min-width: 1000px;
	width:100%;
	height:50px;
	max-height: 50px;
	background-color: white;
	z-index: 5000;
	box-shadow: 0px 5px 5px #000000;
}

#map{
	position:absolute!important;
	top:50px;
	bottom:0px; 
	width:100%;
	/*height:100%;*/
	min-width: 1000px;
}


#forecastInfo{
	position:absolute;
	bottom:0px;
	height:400px;
	width:100%;
	min-width: 1000px;
	background-color:white;
	opacity:0.9;
	visibility:hidden;
	float: bottom;
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px solid #000;
    margin: 1em 0; 
    padding: 0; 
}

#fcGageInfo{
	font-size: 12px;	
	position:relative;
	vertical-align:top;
	width:25%;
	border:2px solid;
	display:inline-block;
	border-radius:5px;
	padding:20px;
	margin:10px;
}

#plotContainer{
    width: 850px;
    height: 300px;
    position: relative;
	display:inline-block;
}
#fcPlot{
	width: 80%;
    min-width: 850px;
    height: 300px;
	display:inline-block;
}

#fc-tabs-1 > * {
    vertical-align:middle;  // Align children to middle of line
}

#fc-tabs-1{
	height: 50%;
	min-width: 1000px;
}


/*lean modal css*/
/* Overlay when Modal is open */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #666;}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

.modal_trigger {

}

.btnLM {padding:10px 20px; background: #00F;float:left;}
.btnLM_red{background: #FF3333; color: #FFF;width:95%;}

.btnLM:hover {background: #E4E4E2;}
.btnLM_red:hover {background: #C12B05;color: #FFF;}

a.btnLM {color:#666; text-align: center; text-decoration: none;}
a.btnLM_red {background: #F00; color: #FFF;}

.one_half {display: block;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}
.popupBody {padding:20px;}

/* User Login Form */
/*.user_login {display: none;}*/
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:95%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.forgot_password {display:block; margin: 20px 10px 20px; float: right; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

.action_btns  {
    clear: both;
 	overflow:  hidden;
}
 
.action_btns a  {
    display:  block;
}