.navbar-brand{
	font-family: Nova Square;
}
h3{
	font-family: Oswald;
}
.tron{
	display:table;
	width:100%;
	min-height: 400px;
	height: 33%;
	background-color: rgba(255,255,255,0.5);
	min-width: 1024px;
}

.tron-wrapper{
	width:100%;
	height:100%;
	margin-top: 100px;
}


.spacer{
	display:table-row;
	height:100px;
}

.navbar{
	min-width: 1024px;
}

/*.box #registrationPortal{
	opacity: 0.5!important;
}*/
.box-row{
	display: table-row;
	height:200px;
}
.box-spacer{
	display:table-cell;
	width: 50px;
}
.box{
	display: table-cell;
	width: 100px;
	vertical-align: middle;
	border-radius: 20px;
 	border-style: solid;
    border-width: 3px;
    border-color:blue;
	min-width:300px;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
	background-color: rgba(255,255,255,0.75);
}
.box-col{
	width:100px;
}


html {height:100%;}
body {height:100%; margin:0; padding:0;}
/* prepares the background image to full capacity of the viewing area */
#bg {position:fixed; top:0; left:0; width:100%; height:100%; min-width:1024px;}
/* places the content ontop of the background image */
#content {position:relative; z-index:1;}